@import url('https://fonts.googleapis.com/css2?family=Manrope&display=swap');
*
{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: 'Manrope', sans-serif;
} 
.bground
{
    background-color: black;
}
.virat
{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border-bottom: 1px solid rgb(92, 88, 88);
    width: 100px;
    padding: 5px;
    font-size: 16px;
}
nav{
    visibility : hidden;
    overflow: hidden;
}
// vertical navbar starts
.yesh
{
    background: rgb(0,9,57);
    background: linear-gradient(90deg, rgba(0,9,57,1) 0%, rgba(0,9,57,1) 100%);
    position: fixed;
    top: 0;
   
    overflow: hidden;
   

    div
    {
        margin-top: 18px;
        cursor: pointer;
        border-bottom: 1px solid white;
        font-size: 20px;
    }
    p 
    {
       
        height: 30px;
        i 
        {
            font-size: 30px;
        }
        y
        {
            display: none;
        }
    }
   
    p:hover y
    {
        display: inline;
        cursor: pointer;
    }
    p:hover i
    {
        display:none;
        cursor: pointer;
      
    }
    p
    {
        transition:all .9s ease-in;
    }
   p:after {
       
      opacity:.5;
      
        transition:all .9s ease-out;
    }
    p:hover
    {
        transform: translateX(20px);
    }
    p:hover:after
     {
        opacity: 1;
          transform: perspective(400px) rotateY(0deg) scale(1) ;
      }
      .fa-solid.fa-bars {
        display: none;
    }

}
// vertical navbar ends

// column eleven starts
   
.yesh1
{
    background: rgb(35,70,124);
    background: linear-gradient(90deg, rgba(35,70,124,1) 0%, rgba(4,4,54,1) 100%);
    width: 100%;
    z-index:-99;
    height:4900px;
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0%;
   
    .yesh2
    {
        margin-top:250px;
      
    }
    .cloud
    {
        position: absolute;
        top: 1%;
        left: 48%;
        width: 700px;
        opacity: 0.6;
    }
    .resumebtn
    {
        background-color: rgb(3, 4, 45);
        width: 160px;
        height: 50px;
        padding: 1px;
        margin-top: 30px;
        color: white;
        border-radius: 10px;
        font-size: 22px;
    }
    .resumebtn:hover
    { 
      
       background-color: red;
       
       
       
    }
    .image
    {
        width: 50px;
    }
    .typing
    {
       margin-left: 250px;
       
    }
    .ui
    {
        font-size: 30px;
    }
  #retype
  {
    color: red;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 30px;
  }
}
// box starts Here
.box
{   
  
    background: rgb(0, 0, 0);
    background: linear-gradient(90deg, rgb(10, 40, 58) 43%, rgb(6, 12, 37) 79%);
    opacity: 0.9;
    width: 80%;
    height: 770px;
    .text1
    {
        padding-top: 150px;
    }
  .paara
  {
    width: 250px;
   margin-left: 50px;
  }
   .ring
   {
    padding-left: 200px;
    padding-top: 100px;
    width: 450px;
   }
}
// box ends here
.light1
{
    position: absolute;
    top: 25%;
    left: 4%;
}
// Project starts here 
.container
{
    .recent
    {
        margin-top: 100px;
        .work1
        {
            font-size: 35px;
            width: 450px;
        }

    }
    .projectimg
    {
        width: 350px;
        height:200px;
    }
    .projectimg:hover
    {
        transform: scale(90%,90%);
        cursor: pointer;
       
    }
    .projectimg1
    {
        width: 350px;
        height:200px;
    }
    .projectimg1:hover
    {
        transform: scale(90%,90%);
        cursor: pointer;
       
    }
}
// Project ends here 

// about me starts here
.container
{
.text3
{
    margin-top: 100px;
    line-height: 50px;
    font-size: 50px;
    background: -webkit-linear-gradient(rgb(136, 0, 255), rgb(255, 0, 43));
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    font-family: Arial, Helvetica, sans-serif;
}
.text4
{
    font-size: 40px;
    color: white;
    width: 600px;
    line-height: 60px;
    font-family: Arial, Helvetica, sans-serif;
}
.text5
{
    width: 600px;
    height: 50px;
    text-align: justify;
  
   
    
}
.myimg
{
    margin-left: 50px;
    margin-top: -50px;
}
.downloadcv
{
    background-color: rgb(3, 4, 45);
    width: 180px;
    height: 40px;
    padding: 6px;
    margin-top: 30px;
    color: white;
    border-radius: 5px;
}
.downloadcv:hover
{
    background-color: rgb(0, 252, 235);
    color: rgb(0, 0, 0);
}
}

// about me ends here

// bio starts here 
.yeshwanth
{
     background-color: rgba(23, 19, 46, 0.877);
        width: 900px;
    height: 42px;
    .coolor
    {
        color:red;
        width: 240px;
        border-radius: 20px;
        height: 40px;
        font-size: 18px;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        margin-left: 45px;
        background-color: antiquewhite;
    }
   .leftt
   {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 18px;
   }
    
    .yeah{
        margin-top: 20px;
       
    }
    .techskills
    {
        width: 900px;
    }
    .coolor:hover
    {
        background-color: red;
        color: white;
        cursor: pointer;
        border: 2px solid red;
        padding: 5px;
    }
    .htm
    {
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-size: 22px;
        margin-top: 20px;
    }
    .time
    {
        position: absolute;
        top:-231%;
      left: 105%;
    }
    .list
    {
        width: 220px;
    }
    .table
    {
        
        height: 300px;
        background-color: red;
        text-align: center;
      
      
    }
    .htimg
    {
        width: 100px;
    }
    .htimg1
    {
        width: 70px;
    }
    .yeah
    {
        width: 200px;
    }
    .white
    {
        background-color: rgb(255, 255, 255);
        width: 900px;
        height: 320px;
      
    }
    .htmcenter
{
    margin-top: 10px;
}
.color
{
    width: 200px;
    height: 50px;
   font-size: 5px;
}   
.large
{
    font-size: 22px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.sma
{
    font-size: 18px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.bag
{
    background-color: red;
    width: 120px;
    height: 40px;
    color: white;
    padding: 8px;
    margin-left: 100px;
}

}
// bio ends here 

// Hire me starts here 
.box2
{
    background: rgb(0, 0, 0);
    background: linear-gradient(90deg, rgb(10, 40, 58) 43%, rgb(6, 12, 37) 79%);
    opacity: 0.8;
    width: 80%;
    height: 570px;
  margin-top: 450px;
  position: relative;
  .arr
{
    position: absolute;
    top: 1%;
    right:2%;
}

.small
{
    position: absolute;
    top: 15%;
    left: -5%;
  
}
.av
{
    font-size: 70px;
    width: 550px;
    height: 50px;
    color: white;
    margin-top: 70px
}

.bt
{
    margin-top: 180px;
    margin-left: 50px;
    padding: 10px;
    width: 250px;
    font-size: 30px;
    border-radius: 50px;
    font-family: Arial, Helvetica, sans-serif;
   
}
.bt:hover
{
    cursor: pointer;
}
}
// hire me ends here 

// contact starts here 
.container{
 
    .big
    {
        color: white;
        text-align: left;
    }
    .small{
        width: 550px;
        height: 50px;
        font-size: 18px;
        color: white;
        text-align: justify;

    }
    .colrful
    {

  width: 600px;
  height: 580px;
    background: rgb(23, 53, 62);
    background: linear-gradient(90deg, rgb(23, 47, 62) 43%, rgb(1, 12, 55) 79%);
    opacity: 0.8;
     margin-left: 55px;
    }
.yesh5
{
    height: 50px;
}
.yesh6
{
    width: 400px;
    height: 50px;
    text-align: left;
}

.send
{
    background-color: red;
    width: 200px;
    height: 50px;
    padding: 10px;
    border: 1px solid rgb(0, 0, 17);
    border-radius: 50px;
    font-size: 18px;  
    color: white;
}
.send:hover
    {
        background-color: skyblue;
        cursor: pointer;
        color: white;
    }
.icon
{
    margin-top: 100PX;
    
}
.icon1
{
  color: white;
  background-color: rgb(3, 4, 45);
  width: 80px;
  border-radius: 5px;
}

 .fon
 {
    font-size: 22px;
    margin-top: 10px;
 }
}
// contact ends here 

// footer starts here
.footer
{
    background: rgb(0,9,57);
    background: linear-gradient(90deg, rgba(0,9,57,1) 0%, rgba(0,9,57,1) 100%);
    width: 98.5%;
    height: 100px;
    z-index: -99;
    .foot
    {
        margin-top: 30px;
        margin-left: 160px;
    }
    .copy
    {
    
        color: white;
    } 
  
    .text6
    {
        border-right:solid blue;
        cursor: pointer;
        margin-left: 2px;
        padding: 2px;
      
       
    }
    .text6:hover
    {
        opacity: 0.7;
    }
   
    a
    {
        text-decoration: none;
        color: white;
    }
  
}

// footer ends here 