*
{
margin:0;
padding:0;
box-sizing:border-box;
}
.navbar
{
    display:flex;
    justify-content: space-between;
    flex: wrap;
    overflow: hidden;
}
.navbar>img
{
    width: 50px;
}
.navbar_snippets,.navbar_right
{
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    overflow: hidden;
}
.navbar_right
{
    margin-top: 30px;
    margin-right: 20px;
    font-size: 20px;
    margin-left: 25px;
}
.sign
{
    margin-right: 30px;
    background: white;
    padding: 10px;
   text-align: center;
  width:100px;
    border: 2px solid black;
   height: 45px;
   border-radius:12px;
   color: black;
}
.sign:hover{
    background: rgb(185, 178, 178);
    color:black;
    cursor: pointer;
}
.navbar_right,.get>a
{
text-decoration: none;
color: white;
}
.get
{
    margin-right: 30px;
    background: black;
    width: 150px;
    height: 45px;
   text-align: center;
   padding-top: 10px;
    border: 2px solid black;
   border-radius: 10px;
   color:white;
   font-size: 20px;
   cursor: pointer;
   text-decoration: none;
}
.navbar_snippets>li,.navbar_right>li
{
    padding: 1em;
    margin-top: 22px;
    margin-right: 20px;

}
.navbar_snippets>li>a
{
    text-decoration: none;
    font-size: 20px;
}
.fa-solid.fa-bars
{
    display: none;
}

.banner>img
{
    width: 40px;
    height: 40px;
    margin-top: 30px;
    margin-left: 5px;
    cursor: pointer;
}
.banner{
    display: flex;
    margin-left: 10px;
    overflow: hidden;
   
}
.banner>h1>a
{
    text-decoration: none;
    color: blue;
}
h1
{
    margin-top: 30px;
    padding-left: 15px;
    font-family: sans-serif;
    text-decoration: none;
}
.navbar_snippets>li>a:hover
{
color:red;
text-decoration: wavy;
}
.white
{
    background: white;
    width: 100%;
    height: 1500px;
    position:relative;
    overflow: hidden;
}
h2{
    position: absolute;
    font-size: 60px;
    left: 10%;
    top: 10%;
    font-family: Arial, Helvetica, sans-serif;
}
.para2
{
    position: absolute;
    top:18%;
    left:10%;
    font-size: 25px;
    width: 450px;
}
.cont
{
    width: 550px;
    height: 350px;
    border-radius: 50px;
    position: absolute;
    top: 10%;
    right: 10%;
}
    h3
    {
        position: absolute;
        top:50%;
        right: 21%;
        font-size: 35px;
        font-family: Arial, Helvetica, sans-serif;
    }
    .para3
    {
        width: 200px;
        font-size: 20px;
     position: absolute;
     top:55%;
     right: 22.5%;
     line-height: 30px;
     font-family: Verdana, Geneva, Tahoma, sans-serif;
    

    }
    h4{
        position: absolute;
        top:78%;
        right: 24%;
        font-size: 35px;
        font-family: Arial, Helvetica, sans-serif;
    }
    .para5
    {
        width: 150px;
        font-size: 20px;
     position: absolute;
     top:82%;
     right: 25%;
     line-height: 30px;
     font-family: Verdana, Geneva, Tahoma, sans-serif;
    

    }
    .para6{
        position: absolute;
        top:50%;
        left:12%;
        font-size: 35px;
        font-family: Arial, Helvetica, sans-serif;
    }
    h5{
        background: white;
        width: 170px;
        border: 2px double black;
border-radius: 50px;
    }
   .nam
    {
        
        width:500px;
        height: 60px;
        position: absolute;
        top:60%;
        border: 1px solid #b3b3b3;
        left: 10%;
        border-radius: 10px;
        box-shadow: 1px 1px 1px black;
        font-size: 20px;
    }
   h6{
    position: absolute;
    top:58%;
    left:10%;
    font-size: 16px;
    font-family: arial;
}
.nam1
    {
        
        width:500px;
        height: 60px;
        position: absolute;
        top:70%;
        border: 1px solid #b3b3b3;
        left: 10%;
        border-radius: 10px;
        box-shadow: 1px 1px 1px black;
        font-size: 20px;
    }
h7
{
    position: absolute;
    top:68%;
    left:10%;
    font-size: 16px;
    font-family: arial;
}
h8
{
    position: absolute;
    top:78%;
    left:10%;
    font-size: 16px;
    font-family: arial;
}
.text
    {
        
        width:500px;
        height: 60px;
        position: absolute;
        top:80%;
        border: 1px solid black;
        left: 10%;
        border-radius: 10px;
        box-shadow: 1px 1px 1px black;
    }
    h9
    {
       background: black;
       width: 130px;
       height: 50px;
       border-radius: 10px; 
       position: absolute;
       top:91%;
       left: 10%;
    color: white;
    text-align: center;
    padding: 12px;
    font-size: 20px;
    font-family: arial;
    }
    h9:hover
    {
        cursor: pointer;
        background: #3c3838;
    }
    .nam3
    {
        width:200px;
        height: 100px;
        position: absolute;
        top:90%;
        border: double #b3b3b3;
        left: 10%;
        border-radius: 10px;
        box-shadow: 1px 1px 1px black;
        font-size: 20px;
    }
    .yesh6
{
     background: white;
    width: 100%;
    height: 580px;
    position: relative;
    overflow: hidden;
}
h14
{
    position: absolute;
    top:30%;
    left: 28%;
    font-size: 30px;
    color: black;
    font-family: arial;
}

.logos
{
position: absolute;
top:55%;
left:10%;
}
h16
{
    position: absolute;
    top:57%;
    left:14%;
    font-size: 30px;
    color: black;
    font-size: 25px;
    font-family: arial;
}
h17
{
    position: absolute;
    top:57%;
    left:45%;
    font-size: 25px;
    color: blue;
    font-size: 25px;
    font-family: arial;
}
h18
{
    position: absolute;
    top:65%;
    left:46%;
    font-size: 20px;
    color: black;
    font-size: 25px;
    font-family: poppins;
}
h19
{
    position: absolute;
    top:73%;
    left:46%;
    font-size: 20px;
    color: black;
    font-size: 25px;
    font-family: poppins;
}
h20
{
    position: absolute;
    top:81%;
    left:46%;
    font-size: 20px;
    color: black;
    font-size: 25px;
    font-family: poppins;
}
h21
{
    position: absolute;
    top:57%;
    left:64%;
    font-size: 25px;
    color: blue;
    font-size: 25px;
    font-family: arial;
}
h22
{
    position: absolute;
    top:65%;
    left:65%;
    font-size: 20px;
    color: black;
    font-size: 25px;
    font-family: poppins;
}
h23
{
    position: absolute;
    top:73%;
    left:65%;
    font-size: 20px;
    color: black;
    font-size: 25px;
    font-family: poppins;
}
h24
{
    position: absolute;
    top:81%;
    left: 65%;
    font-size: 20px;
    color: black;
    font-size: 25px;
    font-family: poppins;
}

h25
{
    position: absolute;
    top:57%;
    left:85%;
    font-size: 25px;
    color: blue;
    font-size: 25px;
    font-family: arial;
}
h26
{
    position: absolute;
    top:65%;
    left:85%;
    font-size: 20px;
    color: black;
    font-size: 25px;
    font-family: poppins;
}
h27
{
    position: absolute;
    top:73%;
    left:85%;
    font-size: 20px;
    color: black;
    font-size: 25px;
    font-family: poppins;
}
h28
{
    position: absolute;
    top:81%;
    left:85%;
    font-size: 20px;
    color: black;
    font-size: 25px;
    font-family: poppins;
}
.last
{
    position: absolute;
    top:95%;
    left:40%;
    color: black;
    font-size: 25px;
}
.footer:hover
{
    cursor: pointer;
    color: #a0a0a3;
}
.fa-instagram
{
position: absolute;
top:80%;
left:5%;
font-size: 40px;
}
.fa-instagram:hover
{
    cursor: pointer;
    color: red;
     transform: scale(1.1);
}
.fa-youtube
{
    position: absolute;
top:80%;
left:10%;
font-size: 40px;
}
.fa-youtube:hover
{
    cursor: pointer;
    color: red;
    transform: scale(1.1);
}
.fa-github
{
    position: absolute;
top:80%;
left:15%;
font-size: 40px;
}
.fa-github:hover
{
    cursor: pointer;
    color: blue;
    transform: scale(1.1);
}
.fa-twitter
{
    position: absolute;
top:80%;
left:20%;
font-size: 40px;
}
.fa-twitter:hover
{
    cursor: pointer;
    color: red;
    transform: scale(1.1);
}