@media only screen and (min-width: 360px) and (max-width: 640px) {
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  nav {
    visibility: visible;
  }
  .yesh {
    display: none;
  }
  .yesh1 {
    background: rgb(35, 70, 124);
    background: linear-gradient(90deg, rgb(239, 240, 249) 0%, rgb(233, 234, 238) 100%);
    width: 100%;
    height: 7300px;
  }
  .yesh1 .yesh2 {
    margin-top: 150px;
  }
  .yesh1 .cloud {
    position: absolute;
    top: 5%;
    left: 4%;
    width: 340px;
    opacity: 0.7;
  }
  .yesh1 .resumebtn {
    width: 120px;
    height: 40px;
    margin-top: 30px;
    font-size: 16px;
  }
  .yesh1 .resumebtn:hover {
    color: red;
    background-color: red;
  }
  .yesh1 .image {
    width: 50px;
  }
  .yesh1 .typing {
    margin-left: 80px;
  }
  .yesh1 .ui {
    font-size: 24px;
    color: rgb(3, 4, 45);
  }
  .yesh1 #retype {
    color: red;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    font-size: 24px;
  }
  .box {
    background: rgb(0, 0, 0);
    background: linear-gradient(90deg, rgb(10, 40, 58) 43%, rgb(6, 12, 37) 79%);
    opacity: 0.9;
    width: 90%;
    height: 1350px;
  }
  .box .text1 {
    padding-top: 100px;
    font-size: 18px;
  }
  .box .paara {
    width: 250px;
    margin-left: 30px;
  }
  .box .ring {
    padding-left: 240px;
    padding-top: 80px;
    width: 330px;
  }
  .light1 {
    position: absolute;
    top: 8%;
    left: 12%;
    width: 50px;
  }
  .container .recent {
    margin-top: 100px;
    font-size: 10px;
  }
  .container .recent .work1 {
    margin-top: 20px;
    font-size: 35px;
    width: 270px;
    margin-left: 30px;
    line-height: 40px;
  }
  .container .recent .first1 {
    margin-top: -60px;
    font-size: 30px;
  }
  .container .recent .work {
    margin-top: -20px;
    font-size: 30px;
  }
  .container .projectimg {
    width: 340px;
    padding: 20px;
  }
  .container .projectimg:hover {
    transform: scale(90%, 90%);
    cursor: pointer;
  }
  .container .projectimg1 {
    width: 340px;
    padding: 10px;
  }
  .container .projectimg1:hover {
    transform: scale(90%, 90%);
    cursor: pointer;
  }
  .container .myimg {
    width: 280px;
    margin-top: -60px;
  }
  .container .text3 {
    margin-top: 15px;
    line-height: 30px;
    font-size: 30px;
    background: -webkit-linear-gradient(rgb(136, 0, 255), rgb(255, 0, 43));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: Arial, Helvetica, sans-serif;
  }
  .container .devlop {
    color: rgb(0, 0, 0);
    font-size: 22px;
    margin-left: 10px;
    width: 320px;
  }
  .container .want {
    width: 350px;
    height: 100px;
    text-align: justify;
    margin-left: 5px;
  }
  .container .downloadcv {
    background-color: red;
    width: 180px;
    height: 40px;
    padding: 5px;
  }
  .container .myimg {
    margin-left: -10px;
    margin-top: none;
  }
  .yeshwanth {
    background-color: rgb(3, 96, 108);
    padding-right: 360px;
    width: 100%;
    height: 1px;
    margin: 0px;
    border: 1px solid black;
    border-radius: 20px;
  }
  .yeshwanth .time {
    display: none;
  }
  .yeshwanth .list {
    width: 340px;
  }
  .yeshwanth .table {
    width: 100%;
    height: 200px;
    background-color: white;
    font-size: 10px;
  }
  .yeshwanth .techskills {
    width: 320px;
  }
  .yeshwanth .coolor {
    margin-top: 10px;
  }
  .yeshwanth .htimg {
    width: 35px;
  }
  .yeshwanth h2 {
    font-size: 16px;
  }
  .yeshwanth .htimg1 {
    width: 35px;
  }
  .yeshwanth .yeah {
    width: 200px;
  }
  .yeshwanth .space {
    margin-left: -10px;
  }
  .yeshwanth .widd {
    width: 10px;
  }
  .yeshwanth .white {
    background-color: rgb(255, 255, 255);
    width: 350px;
    height: 550px;
    margin-left: 0px;
    padding: 20px;
  }
  .yeshwanth .skill {
    width: 100%;
  }
  .yeshwanth .color {
    width: 200px;
    height: 50px;
    font-size: 20px;
  }
  .yeshwanth .large {
    font-size: 16px;
  }
  .yeshwanth .sma {
    font-size: 14px;
  }
  .yeshwanth .bag {
    background-color: red;
    width: 80px;
    height: 30px;
    color: white;
    margin-left: 90px;
    font-size: 12px;
  }
  .yeshwanth .htm {
    font-size: 12px;
  }
  .box2 {
    background: rgb(0, 0, 0);
    background: linear-gradient(90deg, rgb(10, 40, 58) 43%, rgb(6, 12, 37) 79%);
    opacity: 0.8;
    width: 100%;
    height: 200px;
    margin-top: 800px;
    position: relative;
  }
  .box2 .arr {
    position: absolute;
    top: -10%;
    right: 3%;
    width: 70px;
  }
  .box2 .small {
    position: absolute;
    top: 10%;
    left: -10%;
  }
  .box2 .av {
    font-size: 30px;
    width: 280px;
    height: 50px;
    color: white;
    margin-top: 5px;
    margin-left: 60px;
  }
  .box2 .bt {
    margin-top: 20px;
    margin-left: 50px;
    width: 160px;
    font-size: 16px;
    border-radius: 50px;
    font-family: Arial, Helvetica, sans-serif;
  }
  .box2 .bt:hover {
    cursor: pointer;
  }
  .container .big {
    color: white;
    text-align: left;
  }
  .container .small {
    width: 280px;
    height: 50px;
    font-size: 12px;
    color: white;
    text-align: justify;
  }
  .container .colrful {
    width: 100%;
    height: 580px;
    background: rgb(23, 53, 62);
    background: linear-gradient(90deg, rgb(23, 47, 62) 43%, rgb(1, 12, 55) 79%);
    opacity: 0.8;
    margin-left: -2px;
  }
  .container .yesh5 {
    height: 50px;
  }
  .container .yesh6 {
    width: 400px;
    height: 50px;
    text-align: left;
  }
  .container .send {
    background-color: red;
    width: 200px;
    height: 50px;
    padding: 10px;
    border: 1px solid rgb(0, 0, 17);
    border-radius: 50px;
    font-size: 18px;
    color: white;
  }
  .container .send:hover {
    background-color: skyblue;
    cursor: pointer;
    color: white;
  }
  .container .icon {
    margin-top: 50PX;
  }
  .container .icon {
    margin-top: 10PX;
  }
  .container .icon1 {
    color: white;
    background-color: rgb(3, 4, 45);
    width: 80px;
    border-radius: 5px;
  }
  .container .fon {
    font-size: 12px;
    margin-top: 20px;
    margin-left: 15px;
  }
  .footer {
    background: rgb(0, 9, 57);
    background: linear-gradient(90deg, rgb(0, 9, 57) 0%, rgb(0, 9, 57) 100%);
    width: 100%;
    height: 100px;
  }
  .footer .foot {
    margin-top: 22px;
    margin-left: 25px;
  }
  .footer .copy {
    color: white;
    font-size: 10px;
  }
  .footer .text6 {
    border-right: 1px solid blue;
    height: 20px;
    cursor: pointer;
    font-size: 10px;
    margin-left: 2px;
  }
  .footer .text6:hover {
    opacity: 0.7;
  }
  .footer span {
    margin-left: 20px;
  }
}/*# sourceMappingURL=lightmobile.css.map */