@media only screen and (min-width:360px) and (max-width:640px)
{
    *
    {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
    .fa-solid.fa-bars
    {
       display: block;
       position: absolute;
       right: 5%;
       top: 50%;
   
   }
   
   .fa-solid
   {
       font-size:30px;
       color: white;
       cursor: pointer;
   }
   

























































}